<a href="https://colab.research.google.com/github/green139/SparkSQL/blob/main/Analyzing_IOT_Data_using_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Installing findspark
%pip install findspark
#Project to analyze the IoT data using SparkSQL - Mamta

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Installing pyspark
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=dc8f2a2f4fbca1db1ba9556525fe0549934e6277fed8c2d6aa6370a4e2bd454a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
#Installing JDK on Windows
!pip install install-jdk

Collecting install-jdk
  Downloading install_jdk-1.1.0-py3-none-any.whl (15 kB)
Installing collected packages: install-jdk
Successfully installed install-jdk-1.1.0

In [5]:
#Disable SSL/TLS certificate validation to avoid conflicts arising from the jdk install

import ssl
import urllib.request

def disable_ssl_cert_validation():
    # Create a custom SSL context
    context = ssl.create_default_context()

    # Disable certificate verification
    context.check_hostname = False
    context.verify_mode = ssl.CERT_NONE

    # Install the custom SSL context as the default for urllib.request
    urllib.request.install_opener(urllib.request.build_opener(urllib.request.HTTPSHandler(context=context)))

def main():
    disable_ssl_cert_validation()

    # Your code that makes HTTPS requests goes here
    url = "https://example.com"
    with urllib.request.urlopen(url) as response:
        print(response.read().decode())

if __name__ == "__main__":
    main()

<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
    div {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }
    </style>
</head>

<body>
<div>
    <h1>Example Domain</h1>
    <p>This domain is for use in illustrative examples in documents. You may use this
    domain in literature without prior coordination or asking for permission.</p>
    <p><a href="https://www.iana.org/domains/example">More information...</a></p>
</div>
</body>
</html>

In [6]:
import jdk
jdk.install('11')

'/root/.jdk/jdk-11.0.23+9'

In [7]:
#Downloaded openjdk 11 from Openlogic and set the environment variables path correctly

In [8]:
import findspark
findspark.init()

In [9]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Spark Check") \
    .master("local[*]") \
    .getOrCreate()

# Create a simple sample DataFrame to test
data = [("John", 25), ("Anna", 30), ("Mike", 35)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

# Stop the Spark session
spark.stop()

+----+---+
|Name|Age|
+----+---+
|John| 25|
|Anna| 30|
|Mike| 35|
+----+---+

# New Section

# New Section

In [15]:
# Import necessary libraries
import pyspark.sql.functions as pyf
from pyspark.sql import DataFrame,SparkSession

# Stop any existing SparkSession to avoid conflicts
try:
    spark.stop()
except:
    pass

# Create a new SparkSession
spark = SparkSession.builder.master("local[*]").appName("House Price Prediction").getOrCreate()

# Verify file exists
file_location= "/content/iot_devices (2).json"
#!ls {file_location}

# Load your data (replace with your actual data loading code)
df = spark.read.json(file_location)

# Now try to perform operations on the DataFrame
print((df.distinct().count(), len(df.columns)))

(96741, 16)

In [16]:
df.show()

+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|_corrupt_record|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|           NULL|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|           NULL|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|           NULL|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|           NULL|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|           NULL|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|           NULL|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|           NULL|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|           NULL|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|           NULL|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|           NULL|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|           NULL|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|           NULL|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|           NULL|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|           NULL|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|           NULL|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|           NULL|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|           NULL|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|           NULL|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|           NULL|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|           NULL|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

In [17]:
df.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

In [18]:
# Creating a temporary view called iot
df.createOrReplaceTempView("iot")

# Count how many devices are there from each country and display the output.
spark.sql("SELECT cn, COUNT(DISTINCT device_id) as Number_of_devices FROM iot GROUP BY cn ORDER BY Number_of_devices DESC").show()

+-----------------+-----------------+
|               cn|Number_of_devices|
+-----------------+-----------------+
|    United States|            33441|
|            China|             7096|
|            Japan|             5921|
|Republic of Korea|             5808|
|          Germany|             3924|
|   United Kingdom|             3209|
|           Canada|             2955|
|           Russia|             2917|
|           France|             2564|
|           Brazil|             1553|
|        Australia|             1498|
|            Italy|             1450|
|           Sweden|             1414|
|           Poland|             1321|
|      Netherlands|             1234|
|            Spain|             1109|
|           Taiwan|             1045|
|            India|              885|
|                 |              872|
|           Norway|              733|
+-----------------+-----------------+
only showing top 20 rows

In [19]:
# All the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.
spark.sql("SELECT cn FROM iot WHERE c02_level > 1400 ORDER BY c02_level DESC").show()

+--------------------+
|                  cn|
+--------------------+
|   Republic of Korea|
|              Poland|
|       United States|
|               Spain|
|              Mexico|
|       United States|
|      United Kingdom|
|               Japan|
|               China|
|             Germany|
|       United States|
|         Philippines|
|               China|
|              Canada|
|       United States|
|              Canada|
|       United States|
|       United States|
|Saint Kitts and N...|
|       United States|
+--------------------+
only showing top 20 rows

In [20]:
# Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids
spark.sql("SELECT device_name,device_id,cca3 FROM iot WHERE lcd = 'red' GROUP BY device_name,device_id,cca3 ORDER BY device_id").show()

+--------------------+---------+----+
|         device_name|device_id|cca3|
+--------------------+---------+----+
|   sensor-pad-2n2Pea|        2| NOR|
| device-mac-36TWSKiT|        3| ITA|
|sensor-pad-8xUD6p...|        8| JPN|
|sensor-pad-10Bsyw...|       10| USA|
|meter-gauge-11dlM...|       11| ITA|
|sensor-pad-16aXmI...|       16| USA|
|meter-gauge-17zb8...|       17| USA|
|meter-gauge-19eg1...|       19| USA|
|  sensor-pad-22oWV2D|       22| JPN|
|sensor-pad-24Pytz...|       24| CAN|
|  device-mac-27P5wf2|       27| KOR|
|sensor-pad-28Tsud...|       28| KOR|
|meter-gauge-47WsF9s8|       47| UKR|
|meter-gauge-534fD...|       53| SWE|
|sensor-pad-5410CW...|       54| USA|
|device-mac-57tRB0...|       57| USA|
|  sensor-pad-64djcIn|       64| USA|
|sensor-pad-663dzo...|       66| CZE|
|meter-gauge-77IKW...|       77| IND|
|sensor-pad-78PkeI...|       78| KOR|
+--------------------+---------+----+
only showing top 20 rows

In [21]:
# All devices in countries whose batteries need replacements.
spark.sql("SELECT device_name as Device_Battery_Dead, device_id FROM iot WHERE battery_level = 0 GROUP BY Device_Battery_Dead, device_id").show()

+--------------------+---------+
| Device_Battery_Dead|device_id|
+--------------------+---------+
|meter-gauge-1075K...|      107|
|sensor-pad-354ztT...|      354|
|device-mac-2757kb...|     2757|
|meter-gauge-41092...|     4109|
|therm-stick-5485e...|     5485|
|sensor-pad-9038r8...|     9038|
|sensor-pad-11448P...|    11448|
|sensor-pad-12444M...|    12444|
|sensor-pad-16942T...|    16942|
|sensor-pad-180044...|    18004|
|device-mac-18129q...|    18129|
|sensor-pad-18532R...|    18532|
|device-mac-217770...|    21777|
|meter-gauge-26633...|    26633|
|therm-stick-27155...|    27155|
|device-mac-298713...|    29871|
|meter-gauge-31123...|    31123|
|meter-gauge-33119...|    33119|
|device-mac-37143D...|    37143|
|meter-gauge-40673...|    40673|
+--------------------+---------+
only showing top 20 rows